button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 23px;
    cursor: pointer;
  }
  .Aliando{
    align-items: center;
    text-align: center;
    padding: 60px;
  }
  
    a{
    text-decoration: none;
  }