*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #111;
}

nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.menu{
    list-style: none;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item-link{
    color: #333333;
    text-decoration: none;
    font-weight: 600;
}

.card-mae {
    background-color: rgb(49, 47, 47);
    display: flex;
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 15px; /* Espaço entre os cards */
    padding: 20px;
    min-height: 100vh; /* Garante que o container tenha pelo menos 100% da altura da tela */


}

.card-item {
background-color:grey;
padding: 15px;
border-radius: 5px;
max-height: 150;
max-width: 250px

}

.card {
display: flex;
background-color: white;
margin: 0 auto;
align-items: center;
 gap:0 15px ;
 text-align: center;
 gap:0 15px ;

}

.rodape{
    width: 100%;
   font: 100px; ; background-color:black;
   text-align: center;
    height: 50px;
    display:flex;
    align-items: center;

    
}
.rodape h1{
    font-size: 16px; 
    color:white;
    text-align: center;
    margin:0 auto;
    

}	